.List {
<<<<<<< HEAD
  margin-bottom: 20px;
=======
>>>>>>> upstream/lecture-3
}

.List-item {
  border-bottom: 1px dashed #ccc;
}

.List-item:first-child {
  border-top: 1px dashed #ccc;
<<<<<<< HEAD
}
=======
}
>>>>>>> upstream/lecture-3
