.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
<<<<<<< HEAD

.Controls-btn {
  font-size: 13px;
  padding: 3px 9px;
  min-width: 76px;
  min-height: 21px;
  border: 1px solid #767676;
  border-radius: 2px;
  background-color: #efefef;
  color: #000;
}
=======
>>>>>>> upstream/lecture-3
