.Modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-content: center;
}

.Modal-content {
  max-width: 90%;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 auto;
  min-height: 400px;
}

.Modal-head {
  border-radius: 10px 10px 0 0;
}

.Modal-empty {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
}

.Modal-footer {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
  padding-right: 110px;
  padding-bottom: 10px;
}