.ItemCart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
}

.ItemCart-code {
  padding: 20px 10px 20px 20px;
}

.ItemCart-price,
.ItemCart-count {
  font-size: 18px;
  color: #404040;
}

.ItemCart-price {
  padding: 20px 30px 20px 30px;
}

.ItemCart-count {
  padding: 20px 10px 20px 30px;
}

.ItemCart-title {
  width: 100%;
  padding: 20px 10px;
}
