/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-label {
}

.BasketTool-link {
  flex-grow: 1;
}

.BasketTool-link>a {
  color: #0087e9;
  padding: 20px;
  padding-left: 0;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}

.BasketTool-btn {
  min-width: 76px;
}